<div id="ietuchong01_02">
    <div>
        <a href="/"><img src="/Content/images/magadh01_1.gif" width="44" height="68" /></a>
        <ul>
            <li><a href="@Url.Action("Index","News")">最新动态</a></li>
            <li><a href="@Url.Action("Introduction","Static")">期刊介绍</a></li>
            <li><a href="#">杂志审稿</a></li>
        </ul>
    </div>
    <div>
        <a href="/Magazine">
            <img src="/Content/images/magadh02_1.gif" width="101" height="68" />
        </a>
        <ul>
            <li><a href="/Magazine">最新一期</a></li>
            <li><a href="/Magazine#/SelectYear">本年度期刊</a></li>
        </ul>
    </div>
    <div>
        <a href="#" target="_blank"><img src="/Content/images/magadh03_1.gif" width="70" height="68" /></a>
        <ul class="m_top02ul03">
            <li><a href="@Url.Action("EssayNotice","Static")">征文通知</a></li>
            <li><a href="@Url.Action("Notice","Static")">投稿须知</a></li>
            <li><a href="@Url.Action("Faq","Static")">常见问题</a></li>
            <li><a href="@Url.Action("Contact","Static")">联系我们</a></li>
        </ul>
    </div>
    <div>
        <a href="#" target="_blank"><img src="/Content/images/magadh04_1.gif" width="91" height="68" /></a>
        <ul>
            <li><a href="#">我要投稿</a></li>
            <li><a href="#">我的投稿</a></li>
            <li><a href="#">进度查询</a></li>
            <li><a href="#">最新录用</a></li>
        </ul>
    </div>
    <div>
        <a href="#" target="_blank"><img src="/Content/images/magadh05_1.gif" width="118" height="68" /></a>
        <ul>
            <li><a href="#">优秀论文评选</a></li>
            <li><a href="#">历年评选结果</a></li>
        </ul>
    </div>
    <div>
        <a href="#" target="_blank"><img src="/Content/images/magadh06_1.gif" width="97" height="68" /></a>
        <ul class="m_top02ul06">
            <li><a href="@Url.Action("Advertisement","Static")">杂志广告</a></li>
            <li><a href="@Url.Action("Council","Static")">杂志理事会</a></li>
        </ul>
    </div>
</div>

