<div id="ietuchong01_02">
    <div>
        <a href="/"><img src="/Content/images/magadh01_1.gif" width="44" height="68" /></a>
        <ul>
            <li><a href="@Url.Action("Index","News")">最新动态</a></li>
            <li><a href="@Url.Action("Introduction","Static")">期刊介绍</a></li>
        </ul>
    </div>
    <div>
        <a href="/Magazine">
            <img src="/Content/images/magadh02_1.gif" width="101" height="68" />
        </a>
        <ul>
            <li><a href="/Magazine">最新一期</a></li>
            <li><a href="/Magazine#/SelectYear">本年度期刊</a></li>
        </ul>
    </div>
    <div>
       <img src="/Content/images/magadh03_1.gif" width="70" height="68" />
        <ul class="m_top02ul03">
            <li><a href="@Url.Action("EssayNotice","Static")">征文通知</a></li>
            <li><a href="@Url.Action("Notice","Static")">投稿须知</a></li>
            <li><a href="@Url.Action("Faq","Static")">常见问题</a></li>
            <li><a href="@Url.Action("Contact","Static")">联系我们</a></li>
        </ul>
    </div>
    <div>
        <a href="http://139.224.30.88/journalx_gygl" target="_blank">
            <img src="/Content/images/magadh04_1.gif" width="91" height="68" />
        </a>
            <ul>
                <li><a href="http://139.224.30.88/journalx_gygl/authorLogOn.action" target="_blank">作者中心</a></li>
                <li><a href="http://139.224.30.88/journalx_gygl/expertLogOn.action" target="_blank">专家中心</a></li>
                <li><a href="http://139.224.30.88/journalx_gygl/editorCommitteeLogOn.action" target="_blank">编委中心</a></li>
                <li><a href="http://139.224.30.88/journalx_gygl/editorInChiefLogOn.action" target="_blank">主编中心</a></li>
                <li><a href="http://139.224.30.88/journalx_gygl/editorLogOn.action" target="_blank">编辑中心</a></li>
            </ul>
</div>
    <div>
        <img src="/Content/images/magadh05_1.gif" width="118" height="68" />
        <ul>
            <li><a href="#">优秀论文评选</a></li>
            <li><a href="#">历年评选结果</a></li>
        </ul>
    </div>
    <div>
        <img src="/Content/images/magadh06_1.gif" width="97" height="68" />
        <ul class="m_top02ul06">
            <li><a href="@Url.Action("Advertisement","Static")">杂志广告</a></li>
            <li><a href="@Url.Action("Council","Static")">杂志理事会</a></li>
        </ul>
    </div>
</div>

