<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>网站后台管理系统 -@ViewBag.Title</title>*@
    <meta name="keywords" content="后台HTML,响应式后台">
    <meta name="description" content="基于Bootstrap3最新版本开发的扁平化主题，使用了Html5+CSS3等现代技术">
    <link rel="shortcut icon" href="favicon.ico">
    @Styles.Render("~/bundles/sitecss")
    @RenderSection("css", required: false)
</head>
<body class="gray-bg">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/content")
    @RenderSection("scripts", required: false)
</body>
</html>
