<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -《工业锅炉》杂志社</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    @Styles.Render("~/Content/magazinecss")
</head>
<body ng-app="GyglApp">
    @RenderSection("hscripts", required: false)
    @Html.Action("PeriodicalTop", "Home")
    @Html.Action("Search", "Magazine")
    @RenderBody()
    @Html.Action("Bottom", "Home")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/mag")
    @RenderSection("scripts", required: false)
</body>
</html>