<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -《工业锅炉》杂志社</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    @RenderSection("Css", required: false)
</head>
<body>
    @Html.Action("Top", "Home")
    @RenderSection("Header", required: false)
    @RenderSection("hscripts", required: false)
    @RenderBody()
    @Html.Action("Bottom", "Home")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>