@model Gygl.BLL.Register.ViewModels.PasswordViewModel
@{
    ViewBag.Title = "修改密码";
}
@section Css{
    @Styles.Render("~/Content/registercss")
}
@section scripts{
    @Scripts.Render("~/bundles/reg")
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserID)
    <div id="q_top05_login">
        <div id="m_top05_login">
            <div id="top05_login">
                <div class="login_top"></div>
                <div id="loginmain02">
                    <div class="logintexttit logintexttit02">修改密码</div>
                    <div class="passname">您的用户名为：@Model.UserName</div>
                    <div class="zcyou">
                        @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "请输入您的密码" } })
                    </div>
                    <div class="zcyou">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "请再次输入您的密码" } })
                    </div>
                    <div class="changepassjy">@Html.ValidationSummary()</div>
                    <div>
                        <button type="submit" class="button02sub btn-green">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="q_top04">
    <div id="m_top04">
        <div id="top04">
            <div><img src="/Content/images/magazine_top05.gif" width="15" height="15" /><a href="#">在线阅读（2016年第1期）</a></div>
            <div><img src="/Content/images/magazine_top05.gif" width="15" height="15" /><a href="#">杂志订购</a></div>
            <div><img src="/Content/images/magazine_top05.gif" width="15" height="15" /><a href="#">期刊下载（pdf版）</a></div>
        </div>
    </div>
</div>



