@model Gygl.BLL.Register.ViewModels.PasswordViewModel
@{
    ViewBag.Title = "密码修改成功";
}
@section Css{
    @Styles.Render("~/Content/registercss")
}
@section scripts{
    @Scripts.Render("~/bundles/reg")
}
@section Header{
    @Html.Action("Header", "Home")
}
<div id="q_top05">
    <div id="m_top05">
        <div id="top05">
            <div class="center_bjiaoti"></div>
            <div class="center_zhuti">密码修改成功</div>
            <div class="line"></div>
            <div>
                您的密码已经成功修改，您的用户名为：<span class="xing">@Model.UserName</span>,密码为：<span class="xing">@Model.UserPassword</span>
            </div>
        </div>
    </div>
</div>






